{% set componentId = random() %}

{% set settings = {
	selector: '.example #example-' ~ componentId
} %}

<example data-settings='{{ settings|json_encode|raw }}' class="component example {% if backgroundColor is defined and backgroundColor|length %}{{ backgroundColor }}{% endif %}">
	<div id="example-{{ componentId }}" class="example-wrapper" style="display: none;">
		<p>{{ text }}</p>
	</div>
</example>
