.my-example {
	&.white {
		background-color: #FFFFFF;
	}

	&.gray,
	&.grey {
		background-color: #F2F2F2;
	}

	.my-example-wrapper {
		min-width: 100%;

		p {
			color: red;
			padding: 30px;
		}
	}
}
