.lazyload:not([src]) {
	visibility: hidden;
}

.lazyload {
	opacity: 0;
}

.lazyloading {
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.web-component:not(:defined) {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.web-component {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 60px;
	display: block;
	background-size: 30px auto;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('/assets/icons/three-dots.svg');

	&.web-component-loaded {
		background-image: none;
		height: auto !important;
	}
}
